<header>
  <div class="menu">
    <span class="material-symbols-sharp">menu</span>
  </div>

  <nav>
    <app-nav-link [iconName]="'dashboard'" [displayedName]="'Dashboard'"/>
    <app-nav-link [iconName]="'person_outline'" [displayedName]="'Users'"/>
    <app-nav-link [iconName]="'receipt_long'" [displayedName]="'History'"/>
    <app-nav-link [iconName]="'insights'" [displayedName]="'Analytics'"/>
    <app-nav-link [iconName]="'mail_outline'" [displayedName]="'Tickets'"/>
    <app-nav-link [iconName]="'inventory'" [displayedName]="'Sale List'"/>
    <app-nav-link [iconName]="'report_gmailerrorred'" [displayedName]="'Reports'"/>
    <app-nav-link [iconName]="'settings'" [displayedName]="'Settings'"/>
    <app-nav-link [iconName]="'add'" [displayedName]="'New Login'"/>
    <app-nav-link [iconName]="'logout'" [displayedName]="'Logout'"/>
  </nav>
  <div class="right-zone">
    <div class="toggle-mode">
      <div>
        <label for="light" class="material-symbols-sharp">light_mode</label>
        <input id="light" type="checkbox" name="light">
      </div>
      <div>
        <label for="dark" class="material-symbols-sharp">dark_mode</label>
        <input id="dark" type="checkbox" name="dark">
      </div>
    </div>
    <div class="user-profile">
      <img ngSrc="assets/images/profile-1.jpg" alt="profil de l'utilisateur" width="40" height="40">
    </div>
  </div>

</header>
