<header>
  <div class="menu">
    <span class="material-symbols-sharp">menu</span>
  </div>

  <nav>
    <ul>
      <li>Dashboard</li>
      <li>Users</li>
      <li>History</li>
      <li>Analytics</li>
      <li>Tickets</li>
      <li>Sale List</li>
      <li>Reports</li>
      <li>Settings</li>
      <li>New Login</li>
      <li>Logout</li>
    </ul>
  </nav>
  <div class="right-zone">
    <div class="toggle-mode">
      <div>
        <label for="light" class="material-symbols-sharp">light_mode</label>
        <input id="light" type="checkbox" name="light">
      </div>
      <div>
        <label for="dark" class="material-symbols-sharp">dark_mode</label>
        <input id="dark" type="checkbox" name="dark">
      </div>
    </div>
    <div class="user-profile">
      <img src="assets/images/profile-1.jpg" alt="profil de l'utilisateur" width="40px" height="40px">
    </div>
  </div>

</header>
