<header>
  <div class="menu">
    <span class="material-symbols-sharp">menu</span>
  </div>

  <div class="right-zone">
    <div class="toggle-mode">
      <div>
        <label for="light" class="material-symbols-sharp">light_mode</label>
        <input id="light" type="checkbox" name="light">
      </div>
      <div>
        <label for="dark" class="material-symbols-sharp">dark_mode</label>
        <input id="dark" type="checkbox" name="dark">
      </div>
    </div>
    <div class="user-profile">
      <img ngSrc="assets/images/profile-1.jpg" alt="profil de l'utilisateur" width="40" height="40">
    </div>
  </div>

</header>
