:host {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  background: var(--globalBackgroundColor);
  flex: 1;
  padding: 3rem 2.5rem;
}

main > * {
  margin-bottom: 2.5em;
}

app-header {
  position: sticky;
  top:0;
}
