:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

h1 {
  align-self: flex-start;
}

.item {
  background-color: var(--itemBackgroundColor);
  padding: 3rem;
  border-radius: var(--itemBorderRadius);
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--itemMobileWidth);
  font-weight: 600;
}

.item-title {
  padding-left: 0.5rem;
}

.item-value {
  font-weight: 700;
  font-size: 2.5rem;
}

.item-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid var(--border-color, dimgrey);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: dimgrey;
  font-size: 0.9em;
}

.sales {
  --border-color: #548d54;
}

.visit {
  --border-color: #b43939;
}

.searches {
  --border-color: #7878ee;
}
