<h1>Analytics</h1>

<div class="sales item">
  <div>
    <p class="item-title">Total Sales</p>
    <span class="item-value">$65,024</span>
  </div>
  <div class="item-progress">+81%</div>
</div>

<div class="visit item">
  <div>
    <p class="item-title">Site Visit</p>
    <span class="item-value">24,981</span>
  </div>
  <div class="item-progress">-48%</div>
</div>

<div class="searches item">
  <div>
    <p class="item-title">Searches</p>
    <span class="item-value">14,147</span>
  </div>
  <div class="item-progress">+21%</div>
</div>
