:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

h1 {
  align-self: flex-start;
}

table {
  background-color: var(--itemBackgroundColor);
  border-radius: var(--itemBorderRadius);
  width: var(--itemMobileWidth);
  border-collapse: collapse;
}

th, td {
  padding: 1rem;
}

th:first-of-type, td:first-of-type {
  padding-left: 3rem;
}

th:last-of-type, td:last-of-type {
  padding-right: 3rem;
}

th {
  text-align: left;
}

.deleteHeader {
  display: none;
}

.handsetTable td {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}

.handsetTable td::before {
  content: attr(data-label);
  text-transform: capitalize;
  font-weight: 600;
}

.handsetTable tr:nth-child(even) {
  background-color: darkgrey;
}

.handsetTable th {
  display: none;
}
