<nav>
  <app-nav-link [iconName]="'dashboard'" [displayedName]="'Dashboard'"/>
  <app-nav-link [iconName]="'person_outline'" [displayedName]="'Users'"/>
  <app-nav-link [iconName]="'receipt_long'" [displayedName]="'History'"/>
  <app-nav-link [iconName]="'insights'" [displayedName]="'Analytics'"/>
  <app-nav-link [iconName]="'mail_outline'" [displayedName]="'Tickets'"/>
  <app-nav-link [iconName]="'inventory'" [displayedName]="'Sale List'"/>
  <app-nav-link [iconName]="'report_gmailerrorred'" [displayedName]="'Reports'"/>
  <app-nav-link [iconName]="'settings'" [displayedName]="'Settings'"/>
  <app-nav-link [iconName]="'add'" [displayedName]="'New Login'"/>
  <app-nav-link [iconName]="'logout'" [displayedName]="'Logout'"/>
</nav>
